<carousel>
  <slide>
    <img src="assets/erp/6.jpg" alt="first slide" style="display: block; width: 100%; height: 800px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Nu recunosc alt semn al superioritatii decat bunatatea.</h3>
      <p>Ludwig van Beethoven</p>
    </div>
  </slide>
  <slide>
    <img src="assets/erp/2.jpg" alt="second slide" style="display: block; width: 100%; height: 800px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Tu trebuie sa fii schimbarea pe care o doresti in lume.</h3>
      <p>Mohandas Gandhi</p>
    </div>
  </slide>
  <slide>
    <img src="assets/erp/3.jpg" alt="third slide" style="display: block; width: 100%; height: 800px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Nimic nu valoreaza mai mult decat ziua de azi.</h3>
      <p>Goethe</p>
    </div>
  </slide>
  <slide>
    <img src="assets/erp/7.jpg" alt="third slide" style="display: block; width: 100%; height: 800px;">
    <div class="carousel-caption d-none d-md-block">
      <h3>In viata risipim ani, iar la moarte cersim clipe.</h3>
      <p>Nicolae Iorga</p>
    </div>
  </slide>
</carousel>

<section class="featured">
  <h3 class="text-center mt-3">{{time | date: 'dd.MM.yyyy'}}</h3>
  <h3 class="text-center"> {{ time | date: 'hh:mm:ss' }}</h3>
</section>
