<div class="form-floating mb-3">
    <input  
        [class.is-invalid]="ngControl.dirty && ngControl.invalid"
        type="number"
        class="form-control"
        [formControl]="ngControl.control"
        id={{label}}
        style="--width: {{width}}"
    >
    <label for={{label}}>
        {{label}}
    </label>

    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Introduceti {{label}}</div>
    <div *ngIf="ngControl.control.errors?.min" class="invalid-feedback">{{label}} are valoarea minima acceptata {{ngControl.control.errors.min['min']}}</div>
    <div *ngIf="ngControl.control.errors?.max" class="invalid-feedback">{{label}} are valoarea maxima acceptata {{ngControl.control.errors.max['max']}}</div>
</div>

<!--[class.is-invalid]="ngControl.touched && ngControl.invalid"-->